

h1{
  background-color: #2cccbb;
  text-align: center;font-size: 100px;margin: 0px;
  color: #b1194d;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 6px 6px #FF5722, 12px 12px #FF9800, 18px 18px #FFC107, 24px 24px #04aabf, 30px 30px #1f9488
}

h2{
  font-family: 'Press Start 2P', cursive;
}

ol{
  font-family: 'Press Start 2P', cursive;
}

p{
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2accbb;
  font-family: 'Press Start 2P', cursive;

}

li a {
    float: left;
    display: block;
    color: #e7e4e4;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 4px 4px black;
}

li a:hover {
    background-color: grey;
}

.active {
    background-color: powderblue;
}

.scores {
  text-align: center;
}



canvas{
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    margin: 0 auto;
    text-align: center;
}
