

h1{
  background-color: powderblue;
  text-align: center;
}

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

li a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

.active {
    background-color: powderblue;
}

canvas{
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    margin: 0 auto;
    text-align: center;
}
