

h1{
  background-color: #f55145;
  text-align: center;font-size: 100px;margin: 0px;
  color: #ffe8c6;
  font-family: 'Press Start 2P', cursive;
text-shadow: 7px 7px black;
}

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #616161;
  font-family: 'Press Start 2P', cursive;

}

li a {
    float: left;
    display: block;
    color: #e7e4e4;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 4px 4px black;
}

li a:hover {
    background-color: grey;
}

.active {
    background-color: powderblue;
}

canvas{
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    margin: 0 auto;
    text-align: center;
}
